<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoomCars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script>    
<link rel="stylesheet" href="css/styles.css">
    

</head>
<body>
    <%- include('partials/navbar.ejs') %>
    
    <div class="container">
        <h3 style="margin-top: 30px;">Calulate Total</h3>
        <div class="row " style="margin-top: 60px;">
            <div class="col-sm ">
                <img src="<%= car.image %>" alt="" srcset="" style="width: 400px; height: 400px;">
                <h4 class="card-text">Owner Details</h4>
                <ul>   
                

                <li>
                    <a href="/contactowner/<%= car.owner._id  %>" class="btn btn-primary">Contact Owner</a>
              </li>
            </ul>
            </div>
            <div class="col-sm">
                <h3 class="card-title"><%= car.make %> <%= car.model %></h3>

            <h3 class="card-text">Car Details</h3>
            <ul>
                <li>
                    
                  <p class="card-text">Make:<strong><%= car.make %></strong></p>
                </li>
                <li>
                  <p class="card-text">Model:<strong><%= car.model %></strong></p> 
              </li>
              <li>
                  <p class="card-text">Year of maufacture:<strong><%= car.year %></strong></p>
              </li>
              <li>
                  <p class="card-text">Type:<strong><%= car.type %></strong></p>
              </li>
              <li>
                  <p class="card-text">Address:<strong><%= car.location %></strong></p>
              </li>
              
              
              
              
            </ul>
            <h3 class="card-text">Car Pricing</h3>
            <ul>
                <li>
                    <p class="card-text">Price-Per-Hour:<%= "₹ " %><strong><%= car.priceperhour %></strong></p>
                
                </li>
                    <li>
                    <p class="card-text">Price-Per-Week:<%= "₹ " %><strong><%= car.priceperweek %></strong></p>
                
                    </li>
            </ul>
            <form action="/calulateTotal/<%= car._id %>" method="post">
                <div class="form-group">
                    <label for="hour"><strong>How long do you rent</strong></label>
                    <select name="hour" class="form-control">
                        <% for(var i=0;i<=24;i++){%>
                            <option value= <%= i %>><%= i %> hr</option>
                        <%}%>

                    </select>
                    <select name="week" class="form-control">
                        <% for(var i=0;i<=10;i++){%>
                            <option value= <%= i %>><%= i %> week</option>
                        <%}%>

                    </select>
                </div>
                    <button type="submit" class="btn btn-primary">Calulate Total</button>
            </form>
            <strong>Note ** all document related to car will be given at time of pick up </strong>
            <br>
            <strong>Note ** Make sure that you drive well  </strong>

              </div>
            </div>

        </div>

    
    
        
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="/script.js"></script>
</body>
</html>



    
