<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoomCars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script>    
<link rel="stylesheet" href="css/styles.css">
    

</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="row row-style">
            <% for(var i=0;i<cars.length;i++) { %>
                <div class="col-lg-4 col-md-6">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="<%= cars[i].image %>" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title"><%= cars[i].make %> <%= cars[i].model %></h5>
                          
                          <p class="card-text">Owner Details</p>
                          <ul>
                            <li>
                                
                              <p class="card-text">Name:<strong><%= cars[i].owner.firstname %> <%= cars[i].owner.lastname %></strong></p>
                            </li>
                            <li>
                              <p class="card-text">Phone:<strong><%= cars[i].owner.phone %></strong></p> 
                          </li>
                          <li>
                              <p class="card-text">Email:<strong><%= cars[i].owner.email %></strong></p>
                          </li>
                          <li>
                              <a href="/contactowner/<%= cars[i].owner._id  %>" class="btn btn-primary">Contact Owner</a>
                        </li>
                      
                          
                          
                          
                          
                        </ul>
                          <p class="card-text">Car Details</p>
                          <ul>
                              <li>
                                  
                                <p class="card-text">Make:<strong><%= cars[i].make %></strong></p>
                              </li>
                              <li>
                                <p class="card-text">Model:<strong><%= cars[i].model %></strong></p> 
                            </li>
                            <li>
                                <p class="card-text">Year of maufacture:<strong><%= cars[i].year %></strong></p>
                            </li>
                            <li>
                                <p class="card-text">Type:<strong><%= cars[i].type %></strong></p>
                            </li>
                            <li>
                                <p class="card-text">Address:<strong><%= cars[i].location %></strong></p>
                            </li>
                            
                            
                            
                            
                          </ul>
                        <p class="card-text">Car Pricing</p>
                        <ul>
                            <li>
                                <p class="card-text">Price-Per-Hour:<%= "₹ " %><strong><%= cars[i].priceperhour %></strong></p>
                            
                            </li>
                                <li>
                                <p class="card-text">Price-Per-Week:<%= "₹ " %><strong><%= cars[i].priceperweek %></strong></p>
                            
                                </li>
                        </ul>

                        </div>
                      </div>
                </div>

            <% } %>
        </div>
    
    <footer>
                   
        <div class="icon-div">
            <a href="https://github.com/pradhyumna6459"><i  class=" icon-img fab fa-github fa-2x"></i></a>
            <a href="https://www.instagram.com/pradhyumna.singhrathore/"><i class="icon-img fab fa-instagram fa-2x"></i></a>
            <a href="https://www.facebook.com/pradhyumnasingh.rathore.3/"><i class="icon-img fab fa-facebook-square fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/pradhyumna-singh-rathore-b6a767177/"><i  class="icon-img fab fa-linkedin fa-2x"></i></a>
            <p >
                copyright @pradhyumna 2021
            </p>

        </div>
    </footer>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="/script.js"></script>
</body>
</html>



    
